:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --main-bgr-color: #e5e5e5; 
  --color: #E5E5E5;
  --secondary-bgr-color: #2f303a;
  --logo-black-theme: #000;
  --logo-white-theme: #fff; 
  --btn-background: #F5F4FA;
  
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  
}
.body {
  background-color: var(--main-bgr-color);
}

.link {
  text-decoration: none;
  color:  inherit;
}
.list {
  list-style: none;
}


/* ===========HEADER========== */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black-item {
font-family: var(--secondary-font);
color: var(--logo-black-theme);
}
.logo-white-item {
font-family: var(--secondary-font);
color: var(--logo-white-theme);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-list .nav-link.current {
    color: var(--accent-color);
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}



.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* =========HERO========== */

.hero {
    background-color: var(--secondary-bgr-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}


/* ======COMPONENTS======= */

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.description {
font-size: 14px
line-height: 1.7;
color: var(main-text-color);
}

/* =======FOOTER======== */

.footer {
    background-color: var(--secondary-bgr-color);
}


.address {
  font-style: normal;
  color: var(--white-text-color);
}
.footer-mail,
.footer-tel {
    color: var(--contacts-footer-color):
}


/* ========PROTFOLIO========== */

.btn-item {
font-family: inherit;    
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
cursor: pointer;
color:var(--secondary-text-color);
background-color: var(--btn-background);
}
.btn-item:hover,
.btn-item:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color); 
}
.btn-current {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  
}

.examples-list {
font-size: 18px;
line-height: 2;
}

.example-title {
font-weight: 700;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}
.examples-desc {
letter-spacing: 0.03em;
color: var(--main-text-color);
}